<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ljz.androidbasedemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.ljz.androidbasedemo.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 自动化布局 开始 -->
        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>


        <activity
            android:name="com.ljz.androidbasedemo.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.ljz.androidbasedemo.db.view.DBActivity">
        </activity>

        <activity
            android:name="com.ljz.androidbasedemo.http.HttpActivity">
        </activity>

        <activity
            android:name="com.ljz.androidbasedemo.http.view.GetAndPostActivity">
        </activity>

        <activity
            android:name="com.ljz.androidbasedemo.http.view.UploadActivity">
        </activity>

        <activity
            android:name="com.ljz.androidbasedemo.http.view.DownloadActivity">
        </activity>

    </application>

</manifest>